@use '../variables' as *;

.btn {
  &,
  &:link,
  &:visited {
    border: none; // Button element
    cursor: pointer; // Button element
    font-family: $font-primary;
    font-size: $default-font-size;
    text-decoration: none;
    border-radius: 0;
    transition: all 0.2s;
    display: inline-block;
  }

  //Back to top Button
  &-to-top {
    position: fixed;
    bottom: 5vh;
    right: 2vw;
    z-index: 1;
    padding: 1rem;
    animation: move-left 0.3s;
  }

  @media (hover: hover) {
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(#000, 0.15);
    }
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 1rem 3rem rgba(#000, 0.2);
  }

  // <<< ----- Blue Button ----- >>>
  &-blue,
  &-green {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    padding: 1rem 2rem;
  }

  &-blue {
    background-color: $button-blue;

    @media (hover: hover) {
      &:hover {
        background-color: $button-blue-dark;
      }
    }
  }

  // <<< ----- Green Button ----- >>>
  &-green {
    background-color: $button-green;

    @media (hover: hover) {
      &:hover {
        background-color: $button-green-dark;
      }
    }
  }

  // <<< ----- Orange Text Button ----- >>>
  &-text {
    &,
    &:link,
    &:visited {
      background-color: transparent; // Button element
      font-weight: 600;
      color: $color-accent;
      display: inline-block;
      padding: 1.5rem;
      border-bottom: 3px solid $color-accent;
      position: relative;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: $color-accent;
      z-index: -1;
      transform: scaleY(0);
      transition: transform .2s, width .4s cubic-bezier(1,0,0,1) .2s, background-color .1s;
    }

    @media (hover: hover) {
      &:hover {
        color: #fff;
        // background-color: $color-accent;
        &::before{
          transform: scaleY(1);
        width: 100%;
        }
        

      }
    }

    &:active {
      background-color: $color-accent-dark;
    }
  }
}
