@use '../variables' as *;

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &--col {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: $font-size-lg;
  }

  //top navbar link animation
  &__item {
    margin: 0 2rem;
    padding: 1.5rem 0; // zero on the sides so the bottom border is the same width as the text
    cursor: pointer;
    border-bottom: 3px solid transparent;

    @media only screen and (max-width: 50em) { //800px
      margin: 0;
    }

    @media(hover: hover) {
      &:hover {
        scale: 1.2;
        border-bottom: 3px solid $color-accent;
      }
    }

    &:active {
      scale: 1.2;
        border-bottom: 3px solid $color-accent;
    }
  }

  // sidebar link animation
  &__item--col {
    position: relative;
    border: none;
    width: 100%;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: $color-accent;
      z-index: -1;
      transform: scaleY(0);
      transition: transform .2s, width .4s cubic-bezier(1,0,0,1) .2s, background-color .1s;
    }

    @media(hover: hover){
      &:hover {
        border: none;
        &::before {
          transform: scaleY(1);
          width: 100%;
        }
      }
    }
    
  }


  //Link Styling 
  &__link:link,
  &__link:visited {
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: #fff;
  }

  &__link {
    &--col {
      margin: 2rem 0;
    }
  }

  &__link:active &__item {
    scale: 1.1;
  }
}
